.wrestlerMatchupsSection {
  text-align: center;
}

.wrestlerMatchups {
  border: 2px solid #000;
  border-radius: 4px;
  width: 400px;
  margin: 15px auto;
}

.wrestlerMatchupsHeader {
  font-size: 24px; 
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.matchupsFilterHelpText {
  margin-top: 10px;
}

.matchupsFilterInput {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  margin-top: 10px;
  width: 50%;
}

.matchupsEntry {
  padding: 15px 0 15px 0;
  border-bottom: 2px solid #000;
}

.matchupsEntry:last-child {
  border: none;
}

.matchupsTotalRow {
  font-weight: 700;
}

.matchupsTotalWins, .matchupsTotalLosses, .matchupsTotalName {
  margin-bottom: 5px;
}

.matchupsEntry table {
  margin: auto;
  font-size: 12px;
}

td, th {
  font-weight: normal;
  text-align: left;
  padding: 5px;
}

th {
  text-decoration: underline;
}
