.wrestlerDetailHeaderInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wrestlerDetailHeaderGraphs {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  height: 90px;
  overflow-y: scroll;
}

.wrestlerDetailHeaderGraphAndLabel {
  text-align: center;
}

.wrestlerDetailHeaderGraphLabel {
  font-size: 12px;
}

.wrestlerNameAndPhoto {
  width: 200px;
  text-align: center;
}

.wrestlerEnglishName {
  font-size: 24px;
  font-weight: 700;
}

.wrestlerJapaneseName {
  height: 47px;
  width: 100%;
  margin: auto;
  display: none;
}

.wrestlerJapaneseNameImgContainer {
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: 175px auto;
}

.wrestlerPhoto {
  border: 2px solid #000;
  border-radius: 90px;
}

.wrestlerDetailBody {
  display: flex;
  margin: 30px;
}

.tournamentResultsSection {
  height: 100%;
  text-align: center;
}

.tournamentResultsTitle {
  font-size: 24px; 
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tournamentResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  height: 100%;
}
