.recent-performance-graph {
  text-align: center;
  margin: auto 0;

  .graph-and-keys {
    display: flex;
    flex-direction: row;
    padding: 12px 0;

    .keys {
      display: flex;
      flex-direction: column; 
      justify-content: space-between;

      span {
        font-size: 16px;
      }
    }

    .date-label, .title {
      font-size: 16px;
    }
  }
}
