.wrestler-detail-header {
  .header-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .header-graphs {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    overflow-y: scroll;
  }

  .graph-and-label {
    text-align: center;
    margin-right: 10px;
  }

  .graph-label {
    margin-top: 5px;
    font-size: 16px;
  }
}

.wrestler-detail-body {
  display: flex;
  margin: 30px;
  text-align: center;
}
