.full-wrestler-profile, .short-wrestler-profile {
  display: flex;
  align-items: center;
  
  .rank-display span {
    display: block;
  }

  img.photo {
    border: 2px solid #000;
    border-radius: 90px;
  }
}

.full-wrestler-profile {
  flex-direction: row;
  width: 50%;

  .name-and-rank {
    display: flex;
    flex-direction: column;
  }

  .wrestler-name {
    font-size: 18px;
  }

  img.photo {
    margin-right: 20px;
  }
}

.short-wrestler-profile {
  width: 200px;
  text-align: center;
  flex-direction: column;

  .wrestler-name {
    font-size: 24px;
    font-weight: 700;
  }

  .rank-display {
    font-size: 16px;
  }
}
